@model User
@{
    Layout = "~/views/shared/_RegisterAndLoginLayout.cshtml";
}
<div class="main">

         <!-- Sign up form -->​

        <section class="signup">​
            <div class="container">​
                <div class="signup-content">​
                    <div class="signup-form">​
                        <h2 class="form-title">Sign up</h2>​
                        <form   asp-action="Register"  class="register-form" id="register-form" enctype="multipart/form-data">​
                            <div class="form-group">​
                                <label asp-for="Fname"><i class="zmdi zmdi-account material-icons-name"></i></label>​
                                <input asp-for="Fname" placeholder="First Name" />​
                            </div>​
                            <div class="form-group">​
                                <label asp-for="Lname"><i class="zmdi zmdi-email"></i></label>​
                                <input asp-for="Lname" placeholder="Last Name" />​
                            </div>​
                            <div class="form-group">
                                <label for="Email"><i class="zmdi zmdi-email"></i></label>
                                <input type="Email" name="Email" id="Email" placeholder="Your Email" />
                            </div>
                           <div class="form-group">​
                                <label for="password"><i class="zmdi zmdi-lock-outline"></i></label>​
                                <input type="password" name="password" id="password" placeholder="Password" />​
                            </div>​
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <label class="input-group-text" for="RoleId"></label>
                                    <select class="form-select" id="RoleId" name="RoleId">
                                        <option selected>Choose Role...</option>
                                        <option value="2">2- User</option>
                                        <option value="3">3- Chef</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-button">​
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register" />​
                            </div>​
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="~/RegisterAndLogin/images/signup-image.jpg" alt="sing up image"></figure>
                        <a asp-controller="RegisterAndLogin" asp-action="Login" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>
 </div>
