@model Recipe_Task.Models.AboutU

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AboutU</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AboutusId" />
            <div class="form-group">
                <label asp-for="Imageee1" class="control-label"></label>
                <input asp-for="Imageee1" class="form-control" />
                <span asp-validation-for="Imageee1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imageee2" class="control-label"></label>
                <input asp-for="Imageee2" class="form-control" />
                <span asp-validation-for="Imageee2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description1" class="control-label"></label>
                <input asp-for="Description1" class="form-control" />
                <span asp-validation-for="Description1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titleeee1" class="control-label"></label>
                <input asp-for="Titleeee1" class="form-control" />
                <span asp-validation-for="Titleeee1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
