@model Visa
<html>
    <head>
    <style>
        .cc-img {
            margin: 0 auto;
        }
    </style>
    </head>
    <body>

 <div class="container mt-5">
    <div class="card">
            <div class="row">
                <h3 class="text-center">Payment Details</h3>
                <img class="img-responsive cc-img" src="https://www.prepbootstrap.com/Content/images/shared/misc/creditcardicons.png">
            </div>
        <div class="card-body">
                <form asp-action="Card" method="POST" >
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="CardNumber" class="control-label"></label>
                        <input asp-for="CardNumber" class="form-control" maxlength="16" />
                        <span asp-validation-for="CardNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ExpiryDate" class="control-label"></label>
                        <input asp-for="ExpiryDate" class="form-control" type="date" />
                        <span asp-validation-for="ExpiryDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Cvc" class="control-label"></label>
                        <input asp-for="Cvc" class="form-control" maxlength="3" />
                        <span asp-validation-for="Cvc" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Submit" />
                    </div>
                </form>

            </div>
        </div>
    </div>
   
        <div class="alert alert-info">@ViewBag.Message</div>
  
</body>
</html>
